* {
  padding: 0;
  margin: 0;
}

body.pagina1 {
  background-image: url(../img/restaurante.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: fantasy;
}

.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.logo-text {
  margin-top: 10px;
  font-size: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  opacity: 0;
}

body.pagina2 {
  background-image: url(../img/restaurante.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: fantasy;
}

body.pagina3 {
  background-image: url(../img/restaurante.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: fantasy;
  height: 100vh;
}

.formSugerencias {
  margin-top: 10em;
}

body.pagina4 {
  background-image: url(../img/restaurante.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: fantasy;
}

body.pagina5 {
  background-image: url(../img/restaurante.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: fantasy;
}

.img-size {
  width: 300px;
  height: 300px;
}

.textoCompromiso {
  background-color: rgba(0, 0, 0, 0.274);
  border-radius: 0.7em 0.7em 0.7em 0.7em;
  color: rgb(255, 255, 230);
}

body.pagina6 {
  background-image: url(../img/restaurante.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 3s ease-in-out forwards;
}

.custom-tile {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
.custom-tile img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.imgCompromiso {
  height: 60%;
  width: 80%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

.img-fluid {
  height: 50%;
  width: 70%;
}

.textSomos {
  background-color: rgba(255, 255, 255, 0.367);
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.formulario {
  background-color: #33333352;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  width: 100%;
  max-width: 500px;
  color: #ebffdd;
}

.form-title {
  color: #ebffdd;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  font-size: 16px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #f7b731;
  border-radius: 5px;
  color: black;
  font-size: 16px;
}

.btn-submit {
  background-color: #f5e3a8;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #2b2828;
  font-size: 16px;
  cursor: pointer;
  margin-left: 140px;
  transition: background-color 0.3s ease;
}

.mensaje-exito {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #77ff00;
  font-size: 20px;
  margin-left: 80px;
}

.btn-submit:hover {
  background-color: #d6c691;
}

.section-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.card {
  background-color: #33333352;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0px 4px 6px rgb(255, 255, 255);
  color: white;
  max-width: 35em;
  margin-top: 3em;
}

.cardPrincipales {
  background-color: #33333352;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0px 4px 6px rgb(255, 255, 255);
  transition: transform 0.3s ease-in-out;
  color: white;
  max-width: 35em;
  margin-top: 3em;
}

.cardPostres {
  background-color: #33333352;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0px 4px 6px rgb(255, 255, 255);
  transition: transform 0.3s ease-in-out;
  color: white;
  max-width: 35em;
  margin-top: 3em;
}
.dish {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.dish-name {
  flex: 2;
  font-weight: bold;
}

.dish-price {
  flex: 1;
  text-align: right;
  color: #f39c12;
  font-weight: bold;
}

.text-center {
  color: #ffedcf;
  margin-top: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.carrito-container {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  color: white;
}

.plato-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.plato-nombre {
  flex: 2;
}

.plato-precio {
  flex: 1;
  text-align: right;
}

.plato-cantidad {
  flex: 1;
  text-align: center;
}

.imgCarrito {
  width: 3em;
  height: 3em;
  cursor: pointer;
}

.carrito-count {
  color: red;
  font-weight: bold;
}

.agregarBoton {
  width: 1.6em;
  cursor: pointer;
  margin-left: 1em;
}

.eliminarBoton {
  width: 1.5em;
  cursor: pointer;
  margin-left: 0.5em;
}

@media (max-width: 576px) {
  .logo-image {
    width: 200px;
    height: 200px;
  }

  .logo-container {
    margin-top: 10%;
  }

  .footer-content {
    text-align: center;
  }
  .body-bg {
    background-size: cover;
    height: 100vh;
  }
  .footer {
    display: none;
  }
}
