* {
  padding: 0;
  margin: 0;
}

body.pagina1 {
  background-image: url(../img/restaurante.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: fantasy;
}

.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.logo-text {
  margin-top: 10px;
  font-size: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  opacity: 0;
}

body.pagina2 {
  background-image: url(../img/restaurante.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: fantasy;
}

body.pagina3 {
  background-image: url(../img/restaurante.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: fantasy;
  height: 100vh;
}

.formSugerencias {
  margin-top: 10em;
}

body.pagina4 {
  background-image: url(../img/restaurante.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: fantasy;
}

body.pagina5 {
  background-image: url(../img/restaurante.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: fantasy;
}

.img-size {
  width: 300px;
  height: 300px;
}

.textoCompromiso {
  background-color: rgba(0, 0, 0, 0.274);
  border-radius: 0.7em 0.7em 0.7em 0.7em;
  color: rgb(255, 255, 230);
}

body.pagina6 {
  background-image: url(../img/restaurante.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 3s ease-in-out forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
