*{
    padding: 0%;
    margin: 0%;
}

/* Para la página 1 */
body.pagina1 {
    background-image: url(/img/fondo5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: fantasy;
  }
  
  /* Para la página 2 */
  body.pagina2 {
    background-image: url(https://cdn.aarp.net/content/dam/aarp/home-and-family/personal-technology/2022/03/1140-phone-screen-and-leaves-esp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: fantasy;
  }